* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

header {
    height: 80px;
    background-color: rgb(53, 97, 255);
    box-shadow: 1px 2px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline;
    margin: 0 30px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(215, 57, 57);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

button:hover {
    background-color: rgb(189, 20, 20);
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 20px;
}